/* squares grid style */
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1000px;
} 

.squares-wrapper > .squares > .squre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.squre > .img-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.squre > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}

.squre > .square-text-wrapper h1 {
    color: #cea135;
}

